<!DOCTYPE html>
<html lang="en">
<%-  include("./partials/head") %> 
<body>
    <%- include("./partials/header") %> 
    <main class="error-404" >
        <img src="/images/pagina/error-404.jpg" alt="error-404">
    </main>

<%- include("./partials/footer") %> 
</body>
</html>
