<!DOCTYPE html>
<html lang="en">
<%-  include("./partials/head") %> 
<body>
    <%- include("./partials/header") %> 
    <main class ="yoda">
        <img  src="/images/pagina/yoda-alert.jpg" alt="yoda">
    </main>

<%- include("./partials/footer") %> 
</body>
</html>